@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-Bold.ttf") format("truetype"),
         url("../fonts/OpenSans-Bold.woff") format("woff"),
         url("../fonts/OpenSans-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: OpenSans; 
    src: url('../fonts/OpenSans-Regular.ttf') format("truetype"),
         url("../fonts/OpenSans-Regular.woff") format("woff"),
         url("../fonts/OpenSans-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    font-family: OpenSans;
}

h1, h2, h3, h4, a {
    margin: 0;
}



a {
    text-decoration: none;
    color: #000;
}

.visually-hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
  } 

/* header */

.header {
    background: url('../img/football_767.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    box-sizing: border-box;
    padding-top: 5.8vh;
    padding-bottom: 15vh;
}

.container {
    width: 87.5vw;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1d2146;
    opacity: 0.9;
}


.logo {
    width: 133px;
    margin: 0 auto;
    margin-bottom: 24vh;
}

.header-title {
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 28px;
    display: flex;
    flex-direction: column;
}


.header-title span {
    align-self: flex-end;
    width: 90%;
    margin-bottom: 100px;
}

.header-links {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header-links-item-url:nth-child(n+2) {
    margin-top: 3.5vh;
}

.header-links-item-url {
    width: 100%;
    height: 35px;
    background-color: #5e42b0;
    border-radius: 24px;
    display: flex;
    justify-content: center;
}

.header-item-url-box {
    width: 120px;
    display: flex;
    align-items: center;
}

.header-item-url-box svg {
    width: 22px;  
}


.header-links-item-content {
    margin: 0;
    line-height: 12px;
    color: #fff;
    font-size: 8px;
    text-transform: uppercase;
    margin-left: 9px;
} 

.header-links-item-content span {
    font-weight: 700;
    display: block;
}

/*athlets*/

.info {
    padding-top: 20px;
    background-position: center 95px;
    position: relative;
}

.picture {
    height: 30%;
    width: 90%;
    position: absolute;
    top: 10%;
}

.athlets-picture {
    background: url('../img/footballer_192.png') center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

.info-header {
    text-transform: uppercase;
    color: #e7e7e7;
    font-size: 50px;
    margin-bottom: 280px;
}

.info-list {
    padding: 0;
    margin: 0;
}

.info-list-items {
    list-style-type: none;
    box-sizing: border-box;
    height: 228px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-list-items-header {
    display: flex;
    position: relative;
}

.info-list-items-number {
    font-size: 14px;
    font-weight: 700;
    position: relative;
    top: 2px;
}

.info-list-items-number::before {
    content:'';
    height: 15%;
    width: 100%;
    background-color: #5e42b0;
    border-radius: 2px;
    position: absolute;
    top: 65%;
}

.info-list-items-header-content {
    font-size: 23px;
    color: #c1c1c1;
    text-transform: uppercase;
    margin-left: 8px;
}

.info-list-items-content-article {
    font-size: 15px;
}

.info-list-items:nth-child(n+2) {
    background-color: #fafafa;
}

.info-list-items:nth-child(n+3) {
    background-color: #5e42b0;

}

.info-list-items:nth-child(n+3) .info-list-items-content {
    color: #c1c1c1;
}

.info-list-items-number-grey {
    font-size: 14px;
    font-weight: 700;
    position: relative;
    top: 2px;
}

.info-list-items-number-grey::before {
    content:'';
    height: 15%;
    width: 100%;
    background-color: #fff;
    border-radius: 2px;
    position: absolute;
    top: 65%;
}

/* players */



.info-list-players {
    background-color: #090c35;
    box-sizing: border-box;
    height: 228px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.basketballer-picture {
    background: url('../img/basketballer_302.png') center center no-repeat;
    background-size: contain;
}

.info-list-players .info-list-items-content-article {
    color: #fafafa;
    
}

.info-list-players .info-list-items-header .info-list-items-number-grey {
    color: #644bab;
}

/*guide*/

.guides {
    margin: 0;
    padding: 0;
}

.guides-items-img {
    width: 100%;
    height: 350px;
    position: relative;
}

.be_active {
    background: url('../img/be-active_640.jpg') center center no-repeat;
    background-size: cover;
}

.find_contact {
    background: url('../img/find-contact_640.jpg') center center no-repeat;
    background-size: cover;
}

.work_it {
    background: url('../img/work-it_640.jpg');
    background-size: cover;
}

.guides-items-number {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    padding: 0 25px;
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: #5e42b0;
    position: absolute;
    left: 4.5%;
    bottom: -11px;
    z-index: 22;
}

.guides-items-number::before {
    content:'';
    position: absolute;
    height: 4%;
    width: 25%;
    background-color: #fff;
    border-radius: 25%;
    opacity: 0.3;
    top: 60%;
}

.guides-items {
    list-style-type: none;
}

.guides-content {
    height: 212px;
    box-sizing: border-box;
    padding-top: 34px;
}

.guides-content-header {
    font-weight: 700;
    font-size: 28px;
    color: #e7e7e7;
    text-transform: uppercase;
}

/*footer*/

.footer {
    background: url("../img/game_767.jpg") center center no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    box-sizing: border-box;
    padding-top: 17.6vh;
    padding-bottom: 1.8vh;
    
}

.footer::after {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1d2146;
    opacity: 0.9;
}

.container {
    z-index: 2;
}

.footer-box {
    display: flex;
}

.footer-logo {
    width: 72px;
    height: 74px;
    background: linear-gradient(45deg, #51389c, #7554d4);
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 9%;
}

.footer-logo svg {
    width: 60px;
}

.footer-content {
    text-transform: uppercase;
    margin-bottom: 13.2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 32px;
    font-weight: 700;
}

.footer-content span {
    color: #9b8ec1;
    font-size: 14px;
}

.footer-links {
    margin-bottom: 12%;
}

.footer-logo-bottom {
    margin: 0 auto;
}

@media (min-width:641px) and (max-width:960px) {
    /*header*/

    .container {
        display: flex;
        flex-direction: column;
    }

    .header {
        background: url('../img/football_1280.jpg') center center no-repeat;
        background-size: cover; 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .logo {
        width: 200px;
    }

    .header-title {
        font-size: 64px;
        margin-left: 7%;
        margin-bottom: 0;
    }

    .header-title-part {
        width: 85%;
        margin: 0;
    }

    .header-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .header-links-item-url {
        width: 43%;
    }

    .header-links-item-url:nth-child(n+2) {
        margin: 0;
    }

    .header-links-item-url {
        border-radius: 36px;
        height: 77px;
    }

    .header-item-url-box {
        width: 220px;
        justify-content: center;
    }

    .header-item-url-box svg {
        width: 44px;
    }

    .header-links-item-content {
        font-size: 14px;
        line-height: 18px;
        margin-left: 20px;
    }

    /*athlets*/

    .info {
        padding-top: 60px;
    }
    .picture {
        height: 100%;
        left: -34%;
        top: 13%;
        position: absolute;
    }

    .athlets-picture {
        background: url('../img/footballer_497.png') center center no-repeat;
        background-size: contain;
    }

    .info-header {
        font-size: 80px;
        margin-bottom: 0;
    }

    .info-box {
        width: 57%;
        right: 0;
        align-self: flex-end;
    }

    .info-list-items {
        height: 180px;
    }

    .info-list-items-number {
        font-size: 18px;
    }

    .info-list-items-header-content {
        font-size: 32px;
    }   

    .info-list-items-number-grey {
        font-size: 18px;
    }

    .info-list-items-content-article {
        font-size: 16px;
    }

    /*players*/

    .players {
        display: flex;
        flex-direction: column;
    }

    .players .info-box {
        align-self: flex-start;
    }

    .basketballer-picture {
        background: url('../img/basketballer_436.png') center right no-repeat;
        background-size: contain;
    }    

    .players .picture {
        height: 77%;
        left: 10%;
        top: 4%;
    }

    .info-list-players {
        height: 180px;
    }

    /*guide*/

    .guides-items-img {
        height: 600px;
    }

    .be_active {
        background: url('../img/be-active_960.jpg') center center no-repeat;
        background-size: cover;
    }
    
    .find_contact {
        background: url('../img/find-contact_960.jpg') center center no-repeat;
        background-size: cover;
    }
    
    .work_it {
        background: url('../img/work-it_960.jpg') center center no-repeat;
        background-size: cover;
    }

    .guides-items-number {
        padding: 0 50px;
        padding-top: 40px;
        padding-bottom: 60px;
        font-size: 24px;
        bottom: -5%;
    }

    .guides-items-number::before {
        content:'';
        width: 22%;
    }

    .guides-content {
        height: 340px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .guides-content-header {
        font-size: 80px;
    }
    .guides-content-article {
        font-size: 24px;
    }

    /*footer*/

    .footer {
        background-color: url('../img/game_1280.jpg') center center no-repeat;
        background-size: cover;
        padding-top: 10vh;
        padding-bottom: 20px;

    }
    
    .footer-box {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .footer-logo {
        height: 138px;
        width: 132px;
        margin:0 auto;
    }

    .footer-logo svg {
        width: 100px;
        margin: 0;  
    }

    .footer-content {
        text-align: center;
        font-size: 80px;
        margin: 0;
    }

    .footer-links {
        margin: 0;
    }

    .footer-content span {
        font-size: 34px;
    }

}

@media (min-width:961px) {
    .container {
        width: 79.7vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    /*header*/
    .header {
        height: 100vh;
        box-sizing: border-box;
        background: url('../img/football_1920.jpg') center center no-repeat;
        background-size: cover;
        padding-top: 7vh;
        padding-bottom: 5vh;
    }

    .logo {
        width: 192px;
        margin: 0 auto;
    }

    .header-title {
        font-size: 90px;
        display: flex;
        flex-direction: column;
    }

    .header-title span{
        margin: 0;
    }


    .header-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .header-links-item-url {
        width: 312px;
    }

    .header-links-item-url:nth-child(n+2) {
        margin: 0;
        margin-left: 5%;
    }

    .header-links-item-url {
        border-radius: 36px;
        height: 80px;
    }

    .header-item-url-box {
        width: 210px;
        justify-content: center;
    }

    .header-item-url-box svg {
        width: 44px;
    }

    .header-links-item-content {
        font-size: 14px;
        line-height: 18px;
        margin-left: 20px;
    }

    /*athlets*/
    .info {
        padding-top: 60px;
    }
    .picture {
        width: 50%;
        height: 100%;
        position: absolute;
        top: 4%;
    }

    .athlets-picture {
        background: url('../img/footballer_566.png') no-repeat;
        background-position: 90%;
        background-size: contain;
    }

    .info-header {
        font-size: 80px;
        margin-bottom: 0;
    }

    .info-box {
        width: 50%;
        right: 0;
        align-self: flex-end;
    }

    .info-list-items {
        height: 180px;
    }

    .info-list-items-number {
        font-size: 18px;
    }

    .info-list-items-header-content {
        font-size: 32px;
    }   

    .info-list-items-number-grey {
        font-size: 18px;
    }

    .info-list-items-content-article {
        font-size: 16px;
    }

        /*players*/

        .players {
            display: flex;
            flex-direction: column;
        }
    
        .players .info-box {
            align-self: flex-start;
        }
    
        .basketballer-picture {
            background: url('../img/basketballer_991.png') center left no-repeat;
            background-size: contain;
        }    
    
        .players .picture {
            height: 87%;
            width: 50%;
            top: 4%;
            right: 10%;
        }

        .info-list-players {
            height: 180px;
        }

        /*guides*/

        .guides-items {
            height: 730px;
            width: 100%;
            display: flex;
            flex-direction: row;
        }
        .guides-items-img {
            height: 730px;
            width: 50%;
        }

        .guides-items:nth-child(2n) .guides-items-img{
            order: 2;
        }
        .guides-content {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            padding-left: 4%;
            justify-content: center;
            padding-right: 9%;
        }

        .guides-items:nth-child(2n) .guides-content{
            padding: 0;
            padding: 9%;
        }

        .guides-content-header {
            font-size: 80px;
        }

        .guides-content-article {
            font-size: 24px;
        }

        .guides-items-number {
            width: 10%;
            height: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            bottom: 47%;
            left: 90%;
        }

        .guides-items:nth-child(2n) .guides-items-number {
            left: -10%;
        }
    
        .guides-items-number::before {
            content:'';
            width: 17%;
        }

        .be_active {
            background: url('../img/be-active_1024.jpg') center center no-repeat;
            background-size: cover;
        }
        .find_contact {
            background: url('../img/find-contact_1024.jpg') center center no-repeat;
            background-size: cover;
        }
        .work_it {
            background: url('../img/work-it_1024.jpg');
            background-size: cover;
        }


        /*footer*/

        .footer {
            padding-top: 7vh;
            box-sizing: border-box;
            height: 100vh;
        }

        .footer-box {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        
        .footer-info-box {
            display: flex;
            justify-content: center;
            margin-bottom: 15.5%;
        }

        .footer-box {
            margin: 0 auto;
        }

        .footer-info-box {
            margin: 0;
        }
        
        .footer-logo {
            margin: 0;
            height: 138px;
            width: 132px;
        }

        .footer-logo svg {
            width: 100px;
        }

        .footer-content {
            margin: 0;
            font-size: 80px;
            line-height: 80px;
        } 

        .footer-content span {
            font-size: 36px;
        }

        .footer-links {
            margin: 0;
        }

        .footer-logo-bottom {
            margin: 0 auto;
        }
        


}



